div.page
    div.page_content
        div.backProfileLink(id="backProfileLink")
            img(src=backBtn)
        h1.page_title Уведомления
        div.notif_block(id="notifBlock")
            div(id="infoPageMessage")