

.chat_global {

    /*
    display: inline;

    width: 40%;
    height: 60%;
    */
    max-width: 600px; /*не 600 ибо кнопка сбоку*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    position: relative;
}

.chatG {

    /*background: #FFF; */
    background: white;
    min-height: 320px;
    width: 100%;
    border-radius: 5px;
    max-width: 600px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.chatG .title {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}


.chat_container {
    margin: 0 auto;
    width: 100%;
    height: 600px;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.30);
    border-radius: 5px;
}

.chat_people_list {
    width: 100%;
    float: left;
    /* background: linear-gradient(90deg, rgba(214,39,5,1) 0%, rgba(207,35,8,1) 50%); */
    background: white;
    border-radius: 5px;
    height: 100%;
    margin-top: -15px; /* чтоб не было большого расстояния до "мои чаты" */
}

.chat_search {
    padding: 20px;
}

.chat_input {
    border-radius: 5px;
    border: none;
    padding: 14px;
    color: white;
    background: #6a6c75;
    width: 90%;
    font-size: 14px;
}

.chat_fa_search {
    position: relative;
    left: -25px;
}

.chat_ul {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 100%;
    color: black;
    overflow-y: scroll;
    max-height: 500px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    scrollbar-color: #dcdbdb white;
}


.chat_li {
    padding-bottom: 30px;
    list-style-type: none;
}

.chat_separate_users_in_contact {
    border: 5px solid #E9E7E7;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.chat_separate_users_in_contact:hover {
    border: 5px solid #E9E7E7;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #E9E7E7;
    border-radius: 5px;
    margin-top: 10px;
}




.chat_img {
    float: left;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.chat_about {
    float: left;
    margin-top: 8px;
    padding-left: 8px;
}





.chat_messages {
    width: 100%;
   /* background: #F2F5F8; */
    background: white;
    margin-bottom: 0px;
    border-radius: 5px;
    color: #07070a;
    display: grid; /* без этого кнопка назад уходит вниз*/

}

.chat_header {
    padding: 10px;
    border-bottom: 2px solid rgba(68, 57, 57, 0.57);
    margin-top: 10px;
}

.chat_img {
    float: left;
    margin-right: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.chat_about {
    float: left;
    padding-left: 10px;
    margin-top: 11px;
}

.chat_with {
    font-weight: bold;
    font-size: 16px;
    padding-top: 2%;
    text-align: left;
}



.chat_fa_star {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-top: 12px;
}


.chat_history {
    padding: 0px;
    border-bottom: 2px solid rgba(68, 57, 57, 0.57);
    height: 475px;
}

.message_data {
    margin-bottom: 5px;

}

.message_data_time {
    color: #000000;
    font-size: 12px;
    display: block;
}

.chat_message {
    color: #050202;
    padding: 18px 20px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 60%;

    display: inline-block;
}

.chat_my_message {
    background: rgba(91, 182, 102, 0.36);
    border-radius: 5px;
    padding: 15px;
}


.chat_other_message {
    background: rgba(98, 98, 175, 0.37);
    border-radius: 5px;
    padding: 15px;
}

.chat_message {
    padding: 0px; /* переопределение */
    margin: 5px;
}

.chat_textarea {
    width: 96%;
    border: none;
    line-height: 30px;
    font-size: 18px;
    border-radius: 5px;

    outline: none;
    margin-left: 10px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.20);
    padding: 5px;
}

.chat_fa_file_o, .chat_fa_file_image_o {
    font-size: 16px;
    color: gray;
    cursor: pointer;

}





.chat_online, .chat_offline, .chat_me {
    margin-right: 3px;
    font-size: 10px;
}


.chat_align-left {
    /*text-align: left;*/

}

.chat_align-right {
    text-align: right;

}


.chat_float-right {
    float: right;
}

.chat_clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.chat_no_selected_user {
    background: #F2F5F8;
    margin-bottom: 0px;
    border-radius: 0 30px 30px 0;
    height: 650px;
}
.chat_no_selected_user_h2 {
    margin-top: 50px;
    margin-left: 10%;
    color: #000000;
}

.message_data_time {
    margin-right: 10px;
    font-size: 12px;
}

.message_data_name {
    font-size: 12px;
    font-weight: bold;
}


.sticker_select {
    text-align: center;
    background-color: #fdecec;
    height: 70%;
    width: 70%;
    top: 10%;
    bottom: 10%;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 2; /* поверх всех */
    display: none;  /* сначала невидим */
    position: fixed; /* фиксированное позиционирование, окно стабильно при прокрутке */
    border-radius: 5px;
    overflow-y: scroll;
}

.one_sticker {
    /* В меню выбора */
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: auto;
    width: 150px;
    height: 150px;
}

.sticker_select_back_btn {
    background: linear-gradient(90deg, rgba(214,39,5,1) 0%, rgba(207,35,8,1) 50%);
    border-radius: 5px;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    width: 100px;
    margin-right: 15px;
    vertical-align: sub;
    margin-left: 5px;
    margin-top: 10px;
    text-align: center;
    float: right;
    display: block;
    margin-bottom: 15px;
}

.chat_sticker_hidden{
    display: none;
}

.chat_message_hidden{
    display: none;
}


.emoji_selector_menu {
    width: 100%;
    overflow-y: scroll;
    text-align: center;
    display: block;
}

.one_emoji{
    cursor: pointer;
    margin: 15px;
    font-size: 50px;
    display: inline-block;
}


.chat_message_input_area{
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
}


.sticker_in_message {
    height: 150px;
    width: 150px;
    object-fit: cover;
}





.chat_message_btn_area {
    display: inline-block;
    vertical-align: top;
    padding-top: 2px;
    margin-left: auto;
    margin-right: auto;
}

.chat_btns_second_area {
    margin-left: auto;
    margin-right: auto;
    width: 110px;
}

.chat_message_btn_area img {
    display: inline-block;
    margin-left: 5px;
    height: 26px;
    width: 26px;
    cursor: pointer;
    text-align: left;
}

#chat_send_message_btn {
    margin-left: 9px;
    margin-top: 6px;
    float: left;
}

#chat_send_sticker {
    margin-top: 5px;
    width: 28px;
    height: 28px;
    float: left;

}

#chat_emoji_img{
    margin-top: 5px;
    float: left;

}





.chat_support_btn{

    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(90deg, rgba(214,39,5,1) 0%, rgba(207,35,8,1) 50%);
    border-radius: 5px;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    width: 50%;
    vertical-align: sub;
    text-align: center;
    float: bottom;
    margin-bottom: 20px;

}


.chat_support_btn:hover {
    background: #a10e0e;
}





.chat_contact_list {
    overflow-y: scroll;
}

.chat_no_contact_msg {
    color: #000000;
    font-size: 20px;
    text-align: center;

}

.chat_contacts_title {
    text-align: center;
    padding-top: 15px;
    margin-top: 0px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.chat_contacts_img {
    height: 50px;
    width: 50px;
    padding-left: 5px;
    padding-right: 25px;
    float: left;
    cursor: pointer;
}

.chat_close_content_img {
    height: 40px;
    width: 40px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 25px;
    float: left;
    cursor: pointer;
}


.emoji_select {
    text-align: center;
    background-color: #fdecec;
    height: 60%;
    width: 70%;
    top: 10%;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 2; /* поверх всех */
    display: none;  /* сначала невидим */
    position: fixed; /* фиксированное позиционирование, окно стабильно при прокрутке */
    border-radius: 5px;
    overflow-y: scroll;
}

.chat_emoji_img {
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: 10px;
    margin-top: 0px;
}
.chat_sticker_img {
    height: 35px;
    width: 35px;
    cursor: pointer;
    margin: 10px;
    margin-top: 0px;
}

.shadowChat {
    position: fixed;
    width:100%;
    height:100%;
    z-index:1; /* поверх всех  кроме окна*/
    background:#000;
    opacity: 0.7; /* прозрачность */
    left:0;
    top:0;
}

.chat_send_message_img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}


#chat_sections {
    display: inline-block;
    width: 100%;
}










.chat_back_img_div {
    display: inline-block;
    margin-right: auto;
    top: 12px;
    position: absolute;
    left: -40px;
}

.chat_close_content_img_contacts {
    height: 40px;
    width: 40px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: -12px;

}

