div.chat_global
    div(class="chat_back_img_div")
        img(class="chat_close_content_img_contacts" id="chat_return_img_contacts" src=closeContentImage)
    div.chatG(class="chat_content")
        div(id="chat_sections")
            div(class="chat_container chat_clearfix" id="chat_contacts_or_messages")
                h3(class="chat_contacts_title") Ваши контакты
                div(class="chat_people_list" id="chat_people-list")
                    div(id="chat_msg_no_contacts")
                    ul(class="chat_contact_list chat_ul" id="chat_user_list")
                    button(class="chat_support_btn" id="chat_support_btn")  Связь с поддержкой

