div(class="chat_header chat_clearfix")
    btn(class="chat_return_btn" id="chat_return_btn_id") Назад
    div(class="chat-about")
        img(class="chat_img" src=avatarSrc alt="avatar" id="IdUserWithChat" + nameWith )
        div(class="chat_with") #{nameWith}
        div(class="chat_num_messages")
    i(class="fa chat_fa_star")


div(class="chat_history")
    ul(class="chat_ul" id="chat_history")

div(class="chat_message")
    textarea(class="chat_textarea" name="message-to-send" id="message_to_send" placeholder ="Type your message" rows="3" cols="1")
    button(class="chat_button" id="chat_send_sticker") Стикеры

    img(class="chat_emoji_img " id="chat_emoji_img" src=emojiImgSrc)
    div(class="emoji_selector_menu" id="emoji_selector_menu")
        div(class="one_emoji" id="emojiId_1") &#128293;
        div(class="one_emoji" id="emojiId_2") &#128522
        div(class="one_emoji" id="emojiId_3") &#128515;
        div(class="one_emoji" id="emojiId_4") &#128532;
        div(class="one_emoji" id="emojiId_5") &#128526;
        div(class="one_emoji" id="emojiId_6") &#128524;
        div(class="one_emoji" id="emojiId_7") &#128531;
        div(class="one_emoji" id="emojiId_8") &#128564;
        div(class="one_emoji" id="emojiId_9") &#128567;







    button(class="chat_button" id="chat_send_message_btn") Отправить


div(id="sticker_select" class="sticker_select")
    button(id="sticker_select_back_btn" class="sticker_select_back_btn") Назад
