

.chat_global {
    display: inline;
    max-height: 500px;
    height: 500px;

}




.chatG .title {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}





.chat_container {
    margin: 0 auto;
    width: 750px;
    height: 700px;
   /* box-shadow: 0 0 50px 0 rgba(0,0,0,0.50); */
}

.chat_people_list {
    width: 260px;
    float: left;
    background: linear-gradient(90deg, rgba(214,39,5,1) 0%, rgba(207,35,8,1) 50%);
   /* background: white; */
    border-radius: 30px 0 0 30px;
    height: 700px;
}

.chat_search {
    padding: 20px;
}

.chat_input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6a6c75;
    width: 90%;
    font-size: 14px;
}

.chat_fa_search {
    position: relative;
    left: -25px;
}

.chat_ul {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 5px;
    height: 450px;
    color: black;
}


.chat_li {
    padding-bottom: 30px;
    list-style-type: none;
}

.chat_separate_users_in_contact {
    border-bottom: 1px double black;
    padding-top: 5px;
    cursor: pointer;
}


.chat_img {
    float: left;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.chat_about {
    float: left;
    margin-top: 8px;
    padding-left: 8px;
}



.chat_status {
    color: #00ff19;
    font-size: 12px;
}


.chat_messages {
    width: 450px;
    float: left;
    background: #F2F5F8;
    margin-bottom: 0px;
    border-radius: 0 30px 30px 0;
    color: #07070a;
}

.chat_header {
    padding: 10px;
    border-bottom: 2px solid rgba(68, 57, 57, 0.57);
}

.chat_img {
    float: left;
    margin-right: 10px;
}

.chat_about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}

.chat_with {
    font-weight: bold;
    font-size: 16px;

}

.chat_num_messages {
    color: #6A6C75;
}

.chat_fa_star {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-top: 12px;
}


.chat_history {
    padding: 0px;
    border-bottom: 2px solid rgba(68, 57, 57, 0.57);
    overflow-y: scroll;
    height: 488px;

}

.message_data {
    margin-bottom: 5px;

}

.message_data_time {
    color: #000000;

    font-size: 12px;
    display: block;
}

.chat_message {
    color: #050202;
    padding: 18px 20px;

    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 60%;

    display: inline-block;
}

.chat_my_message {
    background: rgba(91, 182, 102, 0.36);
    border-radius: 15px;
    padding: 15px;
}


.chat_other_message {
    background: rgba(98, 98, 175, 0.37);
    border-radius: 15px;
    padding: 15px;

}

.chat_message {
    padding: 0px; /* переопределение */
    margin: 5px;

    /*
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

     */
}

.chat_textarea {
    width: 96%;
    border: none;
    margin-left: 4%;
    padding-left: 3px;
    font-size: 16px;
    margin-bottom: 0px;
    border-radius: 5px;
    resize: none;
    vertical-align: sub;

}

.chat_fa_file_o, .chat_fa_file_image_o {
    font-size: 16px;
    color: gray;
    cursor: pointer;

}

.chat_button {
    background: linear-gradient(90deg, rgba(214,39,5,1) 0%, rgba(207,35,8,1) 50%);
    border-radius: 10px;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    width: 100px;
    margin-right: 10px;
    vertical-align: sub;
    margin-left: 20px;
    margin-bottom: 10px;

}



.chat_online, .chat_offline, .chat_me {
    margin-right: 3px;
    font-size: 10px;
}

.chat_online {
    color: green;
}

.chat_offline {
    color: orange;
}

.chat_me {
    color: blue;
}



.chat_align-left {
    text-align: left;

}

.chat_align-right {
    text-align: right;

}


.chat_float-right {
    float: right;
}

.chat_clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.chat_no_selected_user {
    width: 450px;
    background: #F2F5F8;
    margin-bottom: 0px;
    border-radius: 0 30px 30px 0;
    height: 650px;
}
.chat_no_selected_user_h2 {
    margin-top: 50px;
    width: 350px;
    margin-left: 10%;
    color: #000000;
}

.message_data_time {
    margin-right: 10px;
    font-size: 12px;
}

.message_data_name {
    font-size: 12px;
}

.chat_return_btn {
    background: linear-gradient(90deg, rgba(214,39,5,1) 0%, rgba(207,35,8,1) 50%);
    border-radius: 10px;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    width: 100px;
    margin-right: 15px;
    vertical-align: sub;
    margin-left: 5px;
    margin-top: 10px;
    text-align: center;
    float: right;
    display: block;

}



.sticker_select {
    text-align: center;
    background-color: #fdecec;
    height: 70%;
    width: 50%;
    top: 10%;
    bottom: 10%;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 2; /* поверх всех */
    display: none;  /* сначала невидим */
    position: fixed; /* фиксированное позиционирование, окно стабильно при прокрутке */
    border-radius: 30px;
    overflow-y: scroll;
}

.one_sticker {
    /* В меню выбора */
    cursor: pointer;
    padding: 15px;
    border-radius: 30px;
    object-fit: cover;
    margin-right: auto;
    width: 150px;
    height: 150px;
}

.sticker_select_back_btn {
    background: linear-gradient(90deg, rgba(214,39,5,1) 0%, rgba(207,35,8,1) 50%);
    border-radius: 10px;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    width: 100px;
    margin-right: 15px;
    vertical-align: sub;
    margin-left: 5px;
    margin-top: 10px;
    text-align: center;
    float: right;
    display: block;
}

.chat_sticker_hidden{
    display: none;
}

.chat_message_hidden{
    display: none;
}


.emoji_selector_menu {
    width: 100%;
    height: 65px;

    background: #cb9e9e;
    overflow-y: scroll;
    text-align: center;
    display: block;
}

.one_emoji{
    cursor: pointer;
    margin: 7px;
    font-size: 18px;
    display: inline-block;
}




.chat_message_input_area{
    display: inline-block;
    width: 70%;
}


.sticker_in_message {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.chat_message_btn_area {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
}

.chat_back_img_div {
    width: 60px;
    display: inline;
    float: left;
    cursor: pointer;
}


.chatG {
    margin: auto;
    background: #FFF;
    padding: 10px;
    width: 800px;
    min-height: 400px;
    border-radius: 30px;

}

.chat_support_btn{
    margin-bottom: auto;

    background: azure;
    border-radius: 5px;
    border: none;
    color: #424242;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    width: 120px;
    margin-right: 15px;
    vertical-align: sub;
    margin-left: 15px;
    margin-top: 10px;
    text-align: center;
    float: bottom;


}