div.chat_global
    div.chatG
        h1.title Мои чаты
        div(id="chat_sections")
            div(class="chat_container chat_clearfix")
                div(class="chat_people_list" id="chat_people-list")
                    ul(class="list chat_ul" id="chat_user_list")

                div(class="chat_messages" id="chat_chat_section")