li(class="chat_clearfix chat_li chat_separate_users_in_contact")
    img(class="chat_img"  src=avatarScr alt="avatar")
    div(class="chat_about")
        div(class="name") #{AuthorName}
        div(class="status")
            i(class="fa fa-circle chat_online")   #{onlineStatus}