.menu {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
	display: table;
	margin-bottom: 10px;
}

.menu img {
	margin: 10px;
}

.menu .logo {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}

.menu .find {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	text-align: center;
	min-width: 120px;
}

.menu .find .findPin {
	min-width: 100px;
	background: #f2f3f2;
	border: #8A8A8A thin;
	height: 40px;
	border-radius: 5px;
}

.menu .icons {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	min-width: 120px;
}

.menu .add {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

.menu .add button {
	background: linear-gradient(90deg, rgba(214,39,5,1) 0%, rgba(207,35,8,1) 50%);
	border-radius: 10px;
	border: none;
	color: white;
	text-decoration: none;
	font-size: 13px;
	cursor: pointer;
	padding: 10px 10px 10px 10px;
	width: 220px;
	margin-right: 10px;
}

@media (max-device-width: 400px) and (orientation: portrait) {
	.menu .logo {
		display: inline-block;
	}

	.menu .find {
		display: inline-block;
		width: 80%;
	}

	.menu .icons {
		display: inline-block;
	}

	.menu .add {
		display: inline-block;
	}

	.menu .logo img {
		width: 400px;
	}

	.menu .find .findPin {
		height: 80px;
	}

	.menu .icons img {
		width: 80px;
		height: 80px;
	 }

	.menu .add button {
		font-size: 30px;
		width: 320px;
	}
}

