div.menu
    div.logo
        a(href="/" id= "logoLink")
            img(src=logoImage width="190px")
    div.find
        div.find_pin
            ul(class="search_menu search_select")
                li
                    a(  id="search_selected_obj" onclick="event.preventDefault()")
                        img(id="search_filter_icon" src=searchFilter)
                        ul( class="search_submenu")

                            h4(class="search_filter_title") Что ищем

                            li
                                a( href="" id="search_select_pin_vars" ) Пины
                            li
                                a( href="" id="search_select_user_vars") Пользователей


                            h4(class="search_filter_title" id="search_filter_most_title") Самые


                            li
                                a( href="" id="search_popular") Популярные
                            li
                                a( href="" id="search_most_comments") Комментируемые
                            li
                                a( href="" id="search_default") Без критерия


                            h4(class="search_filter_title" id="search_filter_time_title") Время


                            li
                                a( href="" id="search_day") За день
                            li
                                a( href="" id="search_week") За неделю
                            li
                                a( href="" id="search_month") За месяц
                            li
                                a( href="" id="search_all_time") За все время


                            h4(class="search_filter_title" id="search_filter_order_title") Порядок

                            li
                                a( href="" id="search_order_norm") Обычный
                            li
                                a( href="" id="search_order_reverse") Обратный



            input(id="search_main_input" type="text" class="search_input")
            img(id="search_main_img" src=lupaImage)





    div.thirdpart#loginPart

