.menu {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	text-align: center;
}
.menu-center {
	display: inline-block;
}
.menu-center ul a {
	border-bottom: 2px solid rgba(219, 58, 77, 0);
	text-decoration: none;
	color: #1A1A1A;
	transition: .2s ease-in-out;
}
.menu-center ul a:hover {
	border-bottom: 2px solid rgba(219, 58, 77, 1);
}
.menu-center ul {
	vertical-align: middle;
}

.menu-center ul a {
	font-size: 17px;
	padding-bottom: 5px;
	margin-top: 35px;
	margin-left: 35px;
	margin-right: 35px;
	display : inline-block;
	text-align: center;
}
.menu-center ul a:first-child {
	margin-top: 35px;
	margin-left: 20px;
	display : inline-block;
	text-align: center;
}

.line_menu {
	top: 85px;
	max-width: 1280px;
	position: absolute;
	border-bottom: 2px solid rgba(120, 117, 117, 0.44);
	right: 0;
	margin: 0 auto;
	left: 0;
}

.plus_btn {
	position: fixed;
	bottom: 5%;
	right: 5%;
}
.plus_btn .btn {
	box-shadow: 0 0 50px 0 rgba(0,0,0,0.20);
	 width: 50px;
	 height: 50px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	cursor: pointer;
	/*padding: 5px;*/
 }

.plus_btn .btn img {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 10px;
	left: 10px;
}