div.icons
    a(href="/chats" id= "chatsLink")
        img(src=chatsImage width="25px")
    a(href="/notifications" id= "notifLink")
        img(src=notifImage width="25px")
    a(href="/profile" id= "profileLink")
        img(src=profileImage width="25px")
    a(id="addNewModal")
        img(src=plusImage width="25px")