div(class="data_filter_section")
    button(id="search_popular" class="search_hot_date_btn") Просматриваемые
    button(id="search_most_comments" class="search_hot_date_btn") Обсуждаемые
    button(id="search_day" class="search_hot_date_btn") За день
    button(id="search_week" class="search_hot_date_btn") За неделю
    button(id="search_month" class="search_hot_date_btn") За месяц

