div.create_pin_all
    div.create_pin.change_profile
        h1.title Мой профиль

        div.profile
            div#banner

            div#profileInfo
                img(src=image alt="avatar" id="avatar")
                div(id="profileLogin" class="ProfileUserInfo")
                div(id="profileAbout")
                input(type="submit" class="red_btn" name="login" value="Создать пин" id="submit_pin")
                a(id="changeProfileLink" class="red_btn")
                   div(id = "changeProfileLinkText") Редактирвоание профиля
                   img(id="settingsLinkPic", src=changeProfileLinkImage)
                input(type="submit" class="red_btn" name="exit" value="Выйти" id="submit_exit")