#changeProfileLink {
    cursor: pointer;
    text-align: center;
}

#changeProfileLinkText {
    display: inline;
    vertical-align: middle;
    padding-bottom: 20px;
}

#settingsLinkPic {
    height: 27px;
    width: 27px;
    display: inline;
    padding-left: 5px;
    padding-top: 7px;
    object-fit: cover;
    border-radius: 0;
}

.ProfileUserInfo {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}