div.page
    div.page_content
        h1.page_title Мой профиль
        div.profile
            div#banner
            div#profileInfo
                div(class="Avatar")
                    img(src=image alt="avatar" id="avatar")
                div(class="profile_up")
                    div(id="profileLogin" class="profile_user_info")
                    div(class="icons")
                        img(src=settings alt="avatar" id="change_profile_link")
                        img(src=plus alt="avatar" id="submit_pin")
                        img(src=logout alt="avatar" id="submit_exit")
                    div(class="buttons_user")
                        input(type="submit" class="grey_btn" value="Посмотреть все пины" id="my_pins")
                    div#desks

                div(id="profileAbout")

