div.create_pin_all
    div.create_pin
        h1.title Мой профиль

        div.profile
            div#banner

            div#profileInfo
                div(class="Avatar")
                    img(src=image alt="avatar" id="avatar")
                div(class="profile_up")
                    div(id="profileLogin" class="profile_user_info")
                    div(class="icons")
                        img(src=settings alt="avatar" id="change_profile_link")
                        img(src=plus alt="avatar" id="submit_pin")
                        img(src=logout alt="avatar" id="submit_exit")
                    div(class="buttons_user")
                        input(type="submit" class="grey_btn" value="Мои пины" id="my_pins")
                        input(type="submit" class="grey_btn" value="Мои доски" id="my_desks")

                div(id="profileAbout")

