div.create_pin_all
    div.create_pin
        h1.title Профиль

        div.profile
            div#banner

            div#profileInfo
                div(class="Avatar")
                    img(src=image alt="avatar" id="avatar")
                div(class="profile_up")
                    div(id="profileLogin" class="profile_user_info")
                    div(class="icons")
                        input(type="submit" class="red_mini_btn" value="Подписаться" id="follow_btn")
                    div(class="buttons_user")
                        input(type="submit" class="grey_btn" value="Пины" id="my_pins")
                        input(type="submit" class="grey_btn" value="Доски" id="my_desks")

                div(id="profileAbout")

