div.page
    div.page_content
        h1.page_title Профиль

        div.profile
            div#banner

            div#profileInfo
                div(class="Avatar")
                    img(src=image alt="avatar" id="avatar")
                div(class="profile_up")
                    div(id="profileLogin" class="profile_user_info")
                    div(class="icons")
                        input(type="submit" class="red_mini_btn" value="Подписаться" id="follow_btn")
                        input(type="submit" class="red_mini_btn" value="Написать" id="message_btn")
                    div(class="buttons_user")
                        input(type="submit" class="grey_btn" value="Посмотреть все пины" id="my_pins")
                    div#desks

                div(id="profileAbout")

