div.alienButtons
    a(href=userChatsLink user_id=userID id="userChatsLink")
        input(type="submit" class="grey_mini_btn" value="Написать")
    a
        input(type="submit" class="grey_mini_btn" value="Подписаться" user_id=userID is_follow=isFollow id="followingUser")
