div.page
    div.page_content
        div.backProfileLink(id="backProfileLink")
            img(src=backBtn)
        h1.page_title Профиль
        div(id="infoPageMessage")
        div(class="profile")
            div(class="avatar")
                img(src=avatarImage)
            div.nickname= login
            div(id="followBlock")
            div#userThirdPart
            div(class="userCentralBtn")
                a(href=pinsLink id= "allUserPinsLink" user_id=userID)
                    input(type="submit" class="red_medium_btn" value="Посмотреть все пины")
            div.desks
                div#deskBlock
