div.icons
    a(href="/settings" id= "settingsLink")
        img(src=settingsImage)
    a(id="addNew2Modal")
        img(src=plusImage)
    a(href="/logout" id="logoutLink")
        img(src=logoutImage)
div(class="userCentralBtn")
    a(href="/subs" id="subsUserLink")
        input(type="submit" class="red_medium_btn" value="Посмотреть подписки")