div.icons
    a(href="/settings" id= "settingsLink")
        img(src=settingsImage)
    a(id="addNew2Modal")
        img(src=plusImage)
    a(href="/logout" id="logoutLink")
        img(src=logoutImage)