div.page
     div.page_content
         div.backProfileLink(id="backProfileLink")
             img(src=backBtn)
         h1.page_title Создать пин
         div(id="infoPageMessage")
         div.pin_block
            img(src=pinDefaultImage id="pinImage")
            input(type="submit" class="red_btn" value="Добавить изображение" id="chooseImage")
         div.pin_block
             div.line
                 input#pinName(type="text" placeholder="Название пина")
             div.line_area
                 textarea#pinDesc(placeholder="Описание пина (необязательно)" maxlength="512" rows="14" cols="33")
             select#deskSelect
             div.desks
             input(type="submit" class="red_btn" value="Создать" id="sendNewPin")