div.authorization
    img(src=image alt="zinterest.space" width="54px" height="54px" title="Zinterest")
    div.mini_title Придумайте название Вашей новой доски
    div.mini_text
    div.line
        input#deskname(type="text" placeholder="Моя новая доска")
    div.line_area
        textarea#deskdesc(placeholder="Описание доски" maxlength="512" rows="12" cols="33")
    input(type="submit" class="red_btn" value="Создать" id="submit_desk_create")

div.background