div.authorization
    img(src=image alt="zinterest.space" width="54px" height="54px" title="Zinterest")
    div.mini_title Выберите, что Вы хотите создать?
    div.mini_text
    input(type="submit" class="red_btn" value="Пин" id="submit_pin_choose")
    input(type="submit" class="red_btn" value="Доска" id="submit_desk_choose")

div.background