.card {
    display: inline-block;
    margin: 25px;
    width: 240px;
}

/*@media only screen and (max-width: 750px) {*/
/*    .card {*/
/*        width: 40%;*/
/*    }*/
/*}*/

/*@media (max-device-width: 400px) and (orientation: portrait) {*/
/*    .card {*/
/*        width: 40%;*/
/*    }*/
/*}*/

.card .container {
    width: 100%;
    height: auto;
    position: relative;
    padding: 0 0 150% 0;
}

.card .container img {
    border-radius: 16px;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.20);
    transition: transform .2s ease-out;

    object-fit: cover;

    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.card img:hover {
    transform: scale(1.05);
}

@media (max-width: 580px) {
    .card {
        width: 165px;
        border-radius: calc(175px * 16px/240px);
        margin: 8px;
    }
}