:root {
    --pin-bg-color: #f2f3f2;
}

.pin {
    margin-left: auto;
    margin-right: auto;
    max-width: 65%;
    margin-top: 30px;
    background:  var(--pin-bg-color);
    border-radius: 30px;
}

.one_pin_image {
    margin-left: auto;
    height: 100%;
    width: 60%;
    object-fit: cover;
    display: inline-block;
    border-radius: 30px 0 0 30px;
    cursor: pointer;
}

.pinInfo {
    margin-left: 30px;
    margin-right: 10px;
    width: 35%;
    display: inline-block;
    vertical-align: top;
}

.pinInfo_pin_btn_section {
    margin-top: 30px;
}

.add_pin_btn {
    width: 100px;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
    height: 35px;
    border: none;
    background: #F01313;
    border-radius: 12px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    cursor: pointer;
}

.pinInfo_pin_name {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.pinInfo_pin_meta {
    margin-top: 20px;

    font-size: 14px;
    color: #1f1f1f;
}

.comments_title {
    font-size: 20px;
    margin-bottom: 0px;
}


.add_comment_msg {
     margin-top: 10px;
    vertical-align: top;
 }

.comment_input {
    border-radius: 10px;
    border-color: #1A1A1A;
    background-color: white;
    display: inline;
    font-size: 16px;
    margin-top: 5px;
    vertical-align: top;
}


.add_comment_btn {
    display: inline;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    height: 40px;
    border: none;
    width: 100px;
    background: #F01313;
    border-radius: 12px;
    margin: 10px 10px 10px 10px;
    vertical-align: top;
    cursor: pointer;
}


.full_img {
    max-height: 70%;
    max-width: 70%;
    top: 10%;
    bottom: 10%;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 2; /* поверх всех */
    display: none;  /* сначала невидим */
    position: fixed; /* фиксированное позиционирование, окно стабильно при прокрутке */
    padding: 15px;
    text-align: center;
}
#shadow {
    position: fixed;
    width:100%;
    height:100%;
    z-index:1; /* поверх всех  кроме окна*/
    background:#000;
    opacity: 0.7; /* прозрачность */
    left:0;
    top:0;
}
.pin_full_img {
    max-height: 100%;
    max-width: 100%;
}



.save_pin_form {
    text-align: center;
    background-color: var(--pin-bg-color);
    height: 70%;
    width: 50%;
    top: 10%;
    bottom: 10%;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 2; /* поверх всех */
    display: none;  /* сначала невидим */
    position: fixed; /* фиксированное позиционирование, окно стабильно при прокрутке */
    border-radius: 30px;

}

.one_pin_image_save {
    width: 40%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    horiz-align: left;
    border-radius: 30px 00px 00px 30px;
    margin-left: auto;
}



.choose_or_create_board {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    padding-top: 15px;
    font-size: 18px;
    text-align: left;

}

.save_pin_choose_form {
    margin-top: 10px;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.choose_boards {
    padding-top: 15px;
    font-size: 16px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
}


.save_pin_btn {
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    height: 40px;
    border: none;
    width: 100px;
    background: #F01313;
    border-radius: 12px;
    margin: 0px 10px 10px 10px;
    vertical-align: top;
    margin-right: auto;
}

.save-create_board_btn {
    display: inline;
    color: #fff;
    font-size: 14px;
    height: 40px;
    border: none;
    width: 120px;
    background: #F01313;
    border-radius: 12px;
    margin: 10px 10px 10px 10px;
    vertical-align: top;
    margin-right: auto;
    font-weight: bold;
}


.save_pin_create_desk {
    margin-top: 15px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;

}

.save_pin_board_input {
    background-color: white;
    border-color: #1A1A1A;
    border-radius: 15px;
    font-size: 16px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.save_form_titles {
    text-align: center;
    font-size: 20px;
}

.save_form_msg {
    text-align: center;
}

.share img {
    width: 20px;
    height: 20px;
    margin: 5px;
}