.page_content .pin_page {
    width: 480px;
}

.page_content .pin_page img {
    width: 480px;
    height: 600px;
    border-radius: 15px 0 0 15px;
}

.page_content_pin {
    padding-left: 0;
    padding-top: 0;
    height: 600px;
}