div.modal
    div.background(id="backModal")
    div.window
        img(src=logoImage alt="Zinterest" width="140px")
        div.mini_title(id="infoModalMessage")
        div.line
            input#deskName(type="text" placeholder="Моя новая доска")
        div.line_area
            textarea#deskDesc(placeholder="Описание доски" maxlength="512" rows="12" cols="33")
        a(id="sendDesk")
            input(type="submit" class="red_btn" value="Создать")