div.modal
    div.background(id="backModal")
    div.window
        img(src=logoImage alt="Zinterest" width="140px")
        div.great_title !{infoMessage}
        input(type="submit" class="red_btn" value="ะะบ" id="closeInfo")