div.modal
    div.background(id="backModal")
    div.window
        img(src=logoImage alt="Zinterest" width="140px")
        div.mini_title Выберите, что Вы хотите создать?
        a(href="/createPin" id="pinLink")
            input(type="submit" class="red_btn" value="Пин")
        a(id="newDeskModal")
            input(type="submit" class="red_btn" value="Доска")

