div(class="offline_page_div")
    h2(class="offline_page_msg" id ="offline_page_msg") Потеряно соединние с сервером, проверьте сеть и обновите страницу
    button(id="offline_page_reload_page_btn" class="offline_page_btn") Обновить страницу