div.authorization
     img(src=image alt="zinterest.space" width="54px" height="54px" title="Zinterest")
     div.mini_title Добро пожаловать в  Zinterest.space
     div.mini_text Находите новые идеи для вдохновения
     input(type="submit" class="red_btn" name="login" value="Войти" id="submit_login_choose")
     input(type="submit" class="gray_btn" name="reg" value="Регистрация" id="submit_reg_choose")

div.background