div.authorization
     img(src=image alt="zinterest.space" width="54px" height="54px" title="Zinterest")
     div.mini_title Добро пожаловать в  Zinterest.space
     div.mini_text Находите новые идеи для вдохновения
     div#banner
     form(name="login" method="post" action="/")
         div.line
             input(type="text" placeholder="Login" id="flogin")
         div.line
             input(type="password" placeholder="Password" id="fpass")
         input(type="submit" class="red_btn" name="login" value="Войти" id="submit_login")
     div.mini_text
         a(href="/registration") Еще не зарегистрировались в Zinterest? <br> Регистрация

div.background