div.authorization
     img(src=image alt="zinterest.space" width="54px" height="54px" title="Zinterest")
     div.mini_title Добро пожаловать в  Zinterest.space
     div.mini_text Находите новые идеи для вдохновения
     div.title_text Регистрация
     div#banner
     form(name="login" method="post" action="/")
         div.line
             input#femail(type="email" placeholder="Почта")
         div.line
             input#flogin(type="text" placeholder="Логин")
         div.line
             input#fpass(type="password" placeholder="Пароль")
         input(type="submit" class="red_btn" name="reg" value="Продолжить" id="submit_reg")
     div.mini_text
         a(id="loginLink")(href="/registration") Уже есть аккаунт в Zinterest? <br> Войти

div.background