div.find_pin
    img(id="search_main_img" src=image alt="icon" width="30px" height="30px")
    input(id="search_main_input" type="text" size="40")
div(id="main_page_info")
div.desk
    div.column
        div#column1
    div.column
        div#column2
    div.column
        div#column3
    div.column
        div#column4