div.find_pin
    img(src=image alt="icon" width="30px" height="30px")
    input(type="text" size="40")
div.desk
    div.column
        div#column1
    div.column
        div#column2
    div.column
        div#column3
    div.column
        div#column4