
div.find_pin
    select(class="select_search" id="select_search")
        option Пины
        option Пользователь
    img(id="search_main_img" src=image alt="icon" width="30px" height="30px")
    input(id="search_main_input" type="text")
div(id="main_page_info")
div(class="desk" id="mainDesk")
    div#columns
