.desk {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 30px;
}

#columns {
	max-width: 100%;
	margin: auto;
}

.find_pin {
	width: 90%;
	max-width: 800px;
	background: #e4e4e4;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: 45px;
	border-radius: 18px;

}

#main_page_info {
	margin-top: 20px;
	font-size: 20px;
	text-align: center;
}

.find_pin img {
	margin-top: 7px;
	float: left;
	margin-left: 10px;
}

.find_pin input[type=text] {
	font-size: 15px;
	display: inline;
	max-width: 600px;
	float: left;
	margin-left: 5px;
}

.find_user {
	max-width: 500px;
	margin: 0 auto 30px;

	border-radius: 30px;
	border-color: black;
	border-style: double;
	border-width: 1px;
}

.find_pin select {
	margin-top: 7px;
	float: left;
	margin-left: 10px;
}

.find_user_avatar {
	display: inline;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	object-fit: cover;
}

.find_user_user_info {
	display: inline;
}