div(class="find_user")
    img(class="find_user_avatar" src=avatarSrc id = avatarID)
    div(class="find_user_user_info")
        h3(class="find_user_login") #{login}
        h5(class="find_user_sub") Подписки: #{subscriptions}
        h5(class="find_user_sub") Подписчики: #{subscribers}